.page-sign-in{

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  height: 100vh;
}

main{
	place-items: center;
	padding-top:4rem;

	h1{
	text-align:center;
	margin-top:2rem;
	margin-bottom:3rem;
	color:#6BADA8;
}

}



form {
  padding: 2rem;
  background-color: #002638;
  border: 1px solid #002638;
  border-radius: 1rem;
  width: 50vw;
  margin:auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #F2E9D9;
}

input {
  display: block;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid #6BADA8;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #F2E9D9;
  color: #002638;
}

input:last-of-type {
  margin-bottom: 1.25rem;
}

input:focus {
  background-color: rgba(254,255,215,.1);
  outline: none;
  border: 1px solid #6BADA8;
  color: #feffd7;
}

button {
  border-radius: 0.25rem;
  background-color: #6BADA8;
  border: 1px solid #6BADA8;
  padding: 0.5rem 1rem .5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #feffd7;
}

button[type="reset"]{
  border: 1px solid #6BADA8;
  background-color: transparent;
  color: #6BADA8;
}

button[type="submit"]:focus,
button[type="reset"]:focus {
  outline: none;
  border-color: #fff;
}
}